@font-face {
    font-family: diabloFont;
    src: url('./font.ttf');
  }
  
.SearchPage {
    background: linear-gradient(135deg, #000000, #6a0000);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Style for the container border  */
  .HotSauceSearch {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: -200px;
  }
  
  /* Style for Crediab0 */
  .cool-heading {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: glow 1.5s infinite alternate;
    margin-bottom: 20px;
  }
  
  /* Keyframes for the glow effect */
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fffc39, 0 0 20px #ff2e2e, 0 0 30px #ee0979, 0 0 40px #ee0979, 0 0 50px #ff6a00, 0 0 60px #ff6a00, 0 0 70px #ee0979;
    }
    to {
      text-shadow: 0 0 20px #fffc39, 0 0 30px #ff2e2e, 0 0 40px #ee0979, 0 0 50px #ee0979, 0 0 60px #ff6a00, 0 0 70px #ff6a00, 0 0 80px #ee0979;
    }
  }
  
  /* Style for the search label */
  label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #5d1010;
  }
  
  /* Style for the boarder */
  input[type="text"] {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #afa5a5;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    
    
  }
  
  /* Change border color and box shadow on focus */
  input[type="text"]:focus {
    border-color: #ff6a00;
    box-shadow: 0 0 8px rgba(255, 106, 0, 0.5);
    outline: none;
  }
  /* Style for the search button */
button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #7d0404;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #be1b1b;
  }
  
  /* Style for error message */
  .error {
    color: #d9534f;
    margin-top: 10px;
}

/* Style for the hot sauce list */
.hot-sauce-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Style for individual hot sauce items */
.hot-sauce-item {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 45%;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.hot-sauce-item h2 {
    font-size: 1.5em;
    color: #d9534f;
    margin-bottom: 10px;
}

.hot-sauce-item p {
    font-size: 1em;
    margin: 5px 0;
}

.hot-sauce-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .hot-sauce-item {
        width: 100%;
    }
}