.landingPage {
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
}


.HotsauceContainer {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.HotsauceImage {
    height: 100vh;
    width: 20vw;
    object-fit: fill;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.HotsauceImage img {
    height: 150vh;
    z-index: 1;

    position: relative;
    top: 120px;
}

@font-face {
    font-family: diabloFont;
    src: url('./fonts/font.ttf');
  }

.TextContainer1 {
    font-family: diabloFont;
    font-size: 100px;
    color: white;

    position: relative;
    bottom: 100px;
    left: 100px;
    z-index: 0;
}

.TextContainer1 p {
    font-size: 30px;

    position: relative;
    bottom: 250px;
    left: 100px;
}

.TextContainer2 {
    font-family: diabloFont;
    font-size: 100px;
    color: #781515;

    position: relative;
    right: 50px;
    z-index: 0;
}

.TextContainer2 p {
    font-size: 30px;

    position: relative;
    bottom: 250px;
    left: 100px;
}

.description {
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;

    position: relative;
    top: 100px;
    left: 300px;
}

.ShopNow {
    font-family: diabloFont;
    cursor: pointer;
    border-radius: 0;
    border: none;
    width: 200px;
    height: 50px;
    background-color: #781515;
    color: white;
    font-size: 20px;

    position: relative;
    top: 200px;
    right: 300px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}