@font-face {
    font-family: diabloF;
    src: url('../../../fonts/font.ttf');
}

body.bodyCrystal {
    background: linear-gradient(135deg, #000000, #6a0000);
    font-family: diabloF;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    height: 100vh;
    padding: 0; 
}

.bodyCrystal .hot-sauce-list {
    font-family: diabloF;
    font-size: 14.2px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
    height: 800px;
}

.bodyCrystal .pic {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bodyCrystal .pic img {
    max-width: 50px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.bodyCrystal .hot-sauce-list .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bodyCrystal .hot-sauce-list .info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #d35400; /* Cholula's signature color */
}

.bodyCrystal .hot-sauce-list .info p {
    margin: 5px 0;
    font-size: 1.2em;
}
