@font-face {
    font-family: diabloF;
    src: url('../../../fonts/font.ttf');
}



body.bodyTexasPete {
    background: linear-gradient(135deg, #000000, #6a0000);
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0; 

}

.bodyTexasPete .hot-sauce-list {
    font-family: diabloF;
    font-size: 13.5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.bodyTexasPete .pic {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bodyTexasPete .pic img {
    max-width: 50px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.bodyTexasPete .hot-sauce-list .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bodyTexasPete .hot-sauce-list .info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #d35400; 
}

.bodyTexasPete .hot-sauce-list .info p {
    margin: 5px 0;
    font-size: 1.2em;
}